nav {
    position: fixed;
    z-index: 2;
    top: var(--pdd);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 700px;
    padding: var(--pdd);
    font-size: 1em;
    border-radius: var(--rad);
    background-color: var(--primary-bg);
    box-sizing: border-box;
}

/* NAVBAR */
nav .left {
    flex: 1;
}

nav .right {
    display: flex;
}

nav a,
nav i {
    transition: .3s;
}

nav a:hover,
nav i:hover {
    cursor: pointer;
}

nav a:not(:last-child),
nav i.fa-circle-user {
    margin-right: var(--pdd);
}

.options-wrapper {
    position: relative;
}

.options i {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.options.active i {
    pointer-events: all;
    opacity: 1;
}
.options.active i.fa-list {
    margin-left: calc(var(--pdd) * -1)
}
.options.active i.fa-heart {
    margin-left: calc(var(--pdd) * -2)
}
.options.active i.fa-gear {
    margin-left: calc(var(--pdd) * -3)
}

/* SEARCH */
.search {
    margin-bottom: calc(var(--pdd) * 2);
    position: relative;
}

.search input.primary {
    padding: var(--pdd);
    width: calc(100% - var(--pdd) * 2 - var(--brd) * 2);
    border-radius: calc(var(--rad) * 2);
} 

.search i {
    position: absolute;
    right: var(--pdd);
    top: calc(var(--pdd) + var(--brd));
}
.search i:hover {
    cursor: pointer;
}

/* BANNER */
.banner {
    padding: calc(var(--pdd) * 2);
    border-radius: var(--rad);
    background-color: var(--primary-clr);
    text-align: center;
    position: relative;
}

.banner i.close {
    position: absolute;
    top: calc(var(--pdd) * .5);
    right: calc(var(--pdd) * .5);
    font-size: 1.5em;
    transition: .3s;
}
.banner i.close:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.banner h1 {
    margin-top: 0px;
}

.banner p {
    margin-bottom: 0px;
}

.banner button {
    margin-top: var(--pdd);
}

/* OBJECTS */
.page .page-content {
    display: flex;
    gap: var(--pdd);
    flex-wrap: wrap;
}

.object {
    flex: 0 0 calc(33.333% - var(--pdd));
    background-color: var(--primary-bg);
    padding: var(--pdd);
    border-radius: var(--rad);
    box-sizing: border-box;
    transition: .3s;
}

.object:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.object .top {
    margin: calc(var(--pdd) * -1) calc(var(--pdd) * -1) 0px calc(var(--pdd) * -1);
    position: relative;
    height: calc(var(--pdd) * 10);
}

.object .tags {
    position: absolute;
    left: calc(var(--pdd) / 2);
    bottom: calc(var(--pdd) / 2);
    width: calc(100% - var(--pdd));
    text-align: center;
}

.object .tag {
    padding: calc(var(--pdd) / 4) calc(var(--pdd) / 2);
    background-color: var(--primary-clr);
    transition: .3s;
    display: inline-block;
    border-radius: var(--rad);
    margin-top: calc(var(--pdd) / 4)
}
.object .tag:not(:last-child) {
    margin-right: calc(var(--pdd) / 4)
}
.object .tag:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.object .tag i {
    margin-right: calc(var(--pdd) / 3);
}

.object .bottom {
    margin-top: var(--pdd);
}

.object img.object-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--rad) var(--rad) 0px 0px;
}
.object .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0));
    pointer-events: none;  /* Allow clicking through the overlay to the image */
}

.object h2 {
    margin-top: 0px; 
}

.object h3 {
    margin-bottom: calc(var(--pdd) / 4);
}

.object img.flag {
    width: var(--pdd);
    margin-bottom: calc(var(--pdd) / 2)
}
.object img.flag:not(:last-child) {
    margin-right: calc(var(--pdd) / 2)
}

.object .actions span {
    padding: calc(var(--pdd) / 4) calc(var(--pdd) / 2);
    background-color: var(--secondary-bg);
    border-radius: var(--rad);
}

.object .actions span:first-child i {
    margin-right: calc(var(--pdd) / 4);
}
.object .actions span:last-child {
    float: right;
}

.object .actins i {
    transition: .3s;
}

.object .actions i.fa-heart:hover {
    font-weight: 900;
}

/* OBJECT PREVIEW */
.review-overlay,
.dark-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    background-color: black;
    transition: .3s;
}
.review-overlay.active,
.dark-overlay.active {
    opacity: .5;
    pointer-events: all;
}

.review-overlay {
    z-index: 12;
}

.dark-overlay {
    z-index: 10;
}

.object-preview {
    position: fixed;
    height: 80vh;
    width: 60vw;
    margin: 0 20vw;
    bottom: -100vh;
    transition: .3s;
    background-color: var(--primary-bg);
    z-index: 11;
    border-radius: var(--rad) var(--rad) 0px 0px;
    overflow-y: scroll;
}

.object-preview h1 {
    margin-top: 0px;   
}

.object-preview img.object-banner {
    border-radius: var(--rad) var(--rad) 0px 0px;
    width: 100%;
    max-height: 35vh;
    object-fit: cover;
}

.preview-content {
    display: flex;
    padding: calc(var(--pdd) * 2);
}

.object-content {
    width: calc(40vw - var(--pdd));
}

.object-content h3 {
    margin: calc(var(--pdd) * 1.5) 0px calc(var(--pdd) / 2) 0px;
}

.object-content li {
    margin-bottom: calc(var(--pdd) / 3);
}
.object-content li span {
    display: block;
    font-size: 12px;
    font-style: italic;
}

.object-content .rating {
    display: flex;
    margin-bottom: calc(var(--pdd) / 4);
}

.object-content .rating:first-child {
    font-size: 2em;
}

.object-content .rating span:first-child {
    flex: 30%;
}
.object-content .rating span:last-child {
    flex: 70%;
}

.object-actions {
    margin-top: calc(var(--pdd) * -5);
    background-color: var(--primary-bg);
    border-radius: var(--rad) var(--rad) 0px 0px;
    padding: var(--pdd);
    position: fixed;
    right: 20vw;
    width: calc(20vw - var(--pdd) * 3);
}

.object-actions h3:first-child {
    margin-top: 0px;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: calc(var(--pdd) * 3);
}
.object-actions h3 {
    margin-bottom: calc(var(--pdd) / 3);
}

.object-actions button {
    margin-bottom: calc(var(--pdd) / 2);
    width: 100%;
}

/* RADIO BUTTONS */
.radio-options {
    display: flex;
    gap: calc(var(--rad) / 2);
}
.radio-options.languages {
    margin-bottom: calc(var(--pdd) * 3);
}

.radio-container {
    border-radius: var(--rad);
    background-color: var(--secondary-bg);
    width: calc(var(--pdd) * 2);
    height: calc(var(--pdd) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.radio-container.active,
.radio-container:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--secondary-clr);
    color: var(--secondary-font-clr);
}

.radio-container img {
    width: 75%;
}

/* REVIEWS */
.review-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    background-color: var(--primary-bg);
    padding: var(--pdd);
    border-radius: var(--rad);
    width: calc(var(--pdd) * 20);
    overflow: hidden;
    display: none;
}

.review-modal h1 {
    margin-top: 0px;
}

.review-modal i {
    font-size: 5em;
}
.review-modal i:hover {
    cursor: pointer;
}

.review-modal .section {
    margin-left: calc(var(--pdd) * -20);
    transition: all .1s ease;
    display: none;
}
.review-modal .section.active {
    margin-left: 0px;
    display: block;
}

.review-modal textarea {
    height: calc(var(--pdd) * 5);
    margin-bottom: calc(var(--pdd) / 2);
}

.review-section {
    margin-top: calc(var(--pdd) * 1.5);
}

.review-section .review {
    border: 2px solid var(--secondary-bg);
    box-sizing: border-box;
    padding: calc(var(--pdd) / 2);
    border-radius: var(--rad);
}
.review-section .review p:first-child {
    font-size: 12px;
    margin-top: 0px 0px calc(var(--pdd) / 4) 0px;
}
.review-section .review p:last-child {
    margin: calc(var(--pdd) / 4) 0px 0px 0px;
}

@media screen and (max-width: 700px) {
    /* NAV */
    nav {
        width: 100%;
        top: 0px;
        border-radius: 0px 0px var(--rad) var(--rad);
    }

    .options.active i {
        background-color: var(--primary-bg);
        padding: calc(var(--pdd) / 5);
    }

    .options.active i.fa-list {
        margin-top: calc(var(--pdd) * 1);
        margin-left: calc(var(--pdd) / -5);
    }

    .options.active i.fa-heart {
        margin-top: calc(var(--pdd) * 2);
        margin-left: calc(var(--pdd) / -5);
    }

    .options.active i.fa-gear {
        margin-top: calc(var(--pdd) * 3);
        margin-left: calc(var(--pdd) / -5);
        border-radius: 0px 0px var(--rad) var(--rad);
    }

    /* OBJECTS */
    .object:hover {
        transform: scale(1.05);
    }

    /* PREVIEW */
    .object-preview {
        width: 100vw;
        margin: 0px;
    }

    .object-actions {
        right: 0px;
    }
}