nav {
    position: fixed;
    z-index: 10;
    top: var(--pdd);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 700px;
    padding: var(--pdd);
    border: var(--brd) solid var(--secondary-bg);
    font-size: 1em;
    border-radius: var(--rad);
    background-color: var(--primary-bg);
}

/* NAVBAR */
nav .left {
    flex: 1;
}

nav .right {
    display: flex;
}

nav a,
nav i {
    transition: .3s;
}

nav a:hover,
nav i:hover {
    cursor: pointer;
}

nav a:not(:last-child),
nav i:not(:last-child) {
    margin-right: var(--pdd);
}

.dropdown {
    transform: scale(0);
    position: absolute;
    background-color: var(--secondary-bg);
    padding: var(--pdd);
    border-radius: var(--rad);
    transition: .1s;
    transform-origin: left top;
    top: var(--pdd);
}

.dropdown a {
    text-wrap: nowrap;
}

.dropdown:hover {
    transform: scale(1);
}

.account-wrapper {
    position: relative;
}

nav .account:hover ~ .account-dropdown {
    transform: scale(1);
}

/* SEARCH */
.search {
    margin-bottom: calc(var(--pdd) * 2);
    position: relative;
}

.search input.primary {
    padding: var(--pdd);
    width: calc(100% - var(--pdd) * 2 - var(--brd) * 2);
    border-radius: calc(var(--rad) * 2);
} 

.search i {
    position: absolute;
    right: var(--pdd);
    top: calc(var(--pdd) + var(--brd));
}
.search i:hover {
    cursor: pointer;
}

/* BANNER */
.banner {
    padding: calc(var(--pdd) * 2);
    border-radius: var(--rad);
    background-color: var(--primary-clr);
    text-align: center;
    position: relative;
}
.banner i {
    position: absolute;
    top: calc(var(--pdd) * .5);
    right: calc(var(--pdd) * .5);
    font-size: 1.5em;
    transition: .3s;
}
.banner i:hover {
    cursor: pointer;
    transform: rotate(180deg);
}