:root {
    --primary-bg: #f7f8f9;
    --secondary-bg: #dcdfe4;
    --tertiary-bg: #c2c6cc;
    --quaternary-bg: #023430;

    --primary-clr: #98c6c3;
    --secondary-clr: #023430;

    --temp: #f99b01;
    --temp: #58cc02;

    --primary-font: 'Comfortaa-Light';
    --primary-font-clr: #172b4d;
    --secondary-font-clr: #f7f8f9;

    --pdd: 25px;
    --rad: 12.5px;
    --brd: 2px;
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('/static/font/Comfortaa-Light.ttf');
}

body {
    margin: 0;
    background-color: var(--primary-bg);
    color: var(--primary-font-clr);
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: var(--primary-font-clr)
}

h3 {
    margin: calc(var(--pdd) / 2) 0px;
}

p {
    margin-bottom: calc(var(--pdd) / 2);
}

.content {
    width: 1100px;
    margin: 0px auto;
    padding: calc(var(--pdd) * 3) 0px;
}

.page-content {
    min-height: 500px;
}

.header {
    margin-top: calc(var(--pdd) * 4);
}

.page {
    background-color: var(--secondary-bg);
}

footer {
    background-color: var(--quaternary-bg);
    padding: calc(var(--pdd) * 3);
    color: var(--secondary-font-clr);
}

/* COMPONENTS */
textarea,
button,
input {
    font-family: var(--primary-font);
    padding: calc(var(--pdd) / 2);
    border-radius: var(--rad);
    border: none;
    font-size: 16px;
    outline: none;
    transition: .3s;
}

textarea {
    resize: none;
    width: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
}

textarea:hover,
textarea:focus {
    border: 2px solid var(--primary-clr);
}

button i {
    margin-left: calc(var(--pdd) / 2);
}

button:hover,
input:hover {
    cursor: pointer;
}

button.primary {
    background-color: var(--secondary-clr);
    color: var(--secondary-font-clr);
}
button.primary:hover {
    background-color: var(--primary-clr);
    color: var(--primary-font-clr)
}

button.secondary {
    background-color: var(--secondary-bg);
}
button.secondary:hover {
    background-color: var(--tertiary-bg);
}

input.primary {
    background-color: var(--primary-bg);
    border: var(--brd) solid var(--secondary-bg);
    color: var(--primary-font-clr);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width: 1100px) {
    .content {
        width: 100%;
        padding: calc(var(--pdd) * 3) calc(var(--pdd) / 2);
        box-sizing: border-box;
    }

    .object {
        flex: 0 0 calc(50% - var(--pdd));
    }
}

@media screen and (max-width: 700px) {
    .object {
        flex: 100%;
    }

    footer {
        text-align: center;
    }
}