:root {
    --primary-bg: #f7f8f9;
    --secondary-bg: #dcdfe4;
    --tertiary-bg: #b3b9c4;

    --primary-clr: #e5dbff;
    --secondary-clr: #ffd43b;

    --primary-font: 'Comfortaa-Light';
    --primary-font-clr: #172b4d;
    --secondary-font-clr: #f7f8f9;

    --pdd: 25px;
    --rad: 12.5px;
    --brd: 2px;
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('/static/font/Comfortaa-Light.ttf');
}

body {
    margin: 0;
    background-color: var(--primary-bg);
    color: var(--primary-font-clr);
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: var(--primary-font-clr)
}

.content {
    width: 1100px;
    margin: 0px auto;
    padding: calc(var(--pdd) * 2) 0px;
}

.header {
    margin-top: calc(var(--pdd) * 4);
}

.page {
    background-color: var(--secondary-bg);
}

/* COMPONENTS */
button.primary,
input.primary {
    background-color: var(--primary-bg);
    border: var(--brd) solid var(--secondary-bg);
    font-family: var(--primary-font);
    color: var(--primary-font-clr);
    padding: calc(var(--pdd) / 2);
    border-radius: var(--rad);
    font-size: 16px;
    outline: none;
}