<!DOCTYPE html>
<html>
<head>
    <!-- Icon -->
    <link rel="icon" href="/static/images/mediapack/icon.png"> 

    <!-- Meta rules -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Ttile</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">

    <!-- None custom Scripts -->
    <script src="https://kit.fontawesome.com/6996113341.js" crossorigin="anonymous"></script>
</head>
<body> 
    <div class="wrapper">
        <nav>
            <div class="left">
                <a onclick="loadObjects('all')">Home</a>
                <a onclick="loadObjects('testing')">Testing</a>
                <a onclick="loadAbout()">About</a>
            </div>

            <div class="right">
                <div class="account-wrapper">
                    <i class="account fa-regular fa-circle-user"></i>

                    <div class="dropdown account-dropdown">
                        {% if logged_in %}
                            <a onclick="loadObjects('mine')">My content</a>
                            <a href="/logout">Logout</a>
                        {% else %}
                            <a href="/login">Login</a>
                        {% endif %}
                    </div>
                </div>

                <div class="account-wrapper">
                    <i class="cart fa-solid fa-cart-shopping"></i>

                    <div class="dropdown cart-dropdown">
                        Stuff I am buying
                    </div>
                </div>
            </div>
        </nav>

        <div class="header">
            <div class="content">
                <div class="search">
                    <input class="primary" type="text" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                {% block header %}{% endblock %}
            </div>
        </div>
        <div class="page">
            <div class="content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>