<!DOCTYPE html>
<html>
<head>
    <!-- Icon -->
    <link rel="icon" href="/static/images/mediapack/icon.png"> 

    <!-- Meta rules -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Ttile</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">

    <!-- Custom JS -->
    <script src="/static/js/objects.js" defer></script>
    <script src="/static/js/pages.js" defer></script>

    <!-- None custom Scripts -->
    <script src="https://kit.fontawesome.com/6996113341.js" crossorigin="anonymous"></script>
</head>
<body> 
    {% csrf_token %}
    <div class="wrapper">
        <nav>
            <div class="left">
                <a onclick="loadObjects('all')">Home</a>
                <a onclick="loadObjects('testing')">Testing</a>
                <a onclick="loadAbout()">About</a>
            </div>

            <div class="right">
                {% if logged_in %}
                    <div class="options-wrapper">
                        <div class="options">
                            
                            <i class="fa-solid fa-list" onclick="loadObjects('collection')"></i>
                            <i class="fa-solid fa-heart" onclick="loadObjects('wishlist')"></i>
                            <i class="fa-solid fa-gear" onclick="loadSettings()"></i>  
                        </div>

                        <i onclick="this.parentNode.querySelector('.options').classList.toggle('active')" class="fa-regular fa-circle-user"></i>
                    </div>
                {% else %}
                    <i onclick="window.location.href=`/login?next=/${new URLSearchParams(window.location.search).get('p')}`" class="fa-regular fa-circle-user"></i>
                {% endif %}

                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </nav>

        <div class="header">
            <div class="content">
                {% block header %}{% endblock %}
            </div>
        </div>
        <div class="page">
            <!--
            <div class="content">
                <i class="fa-solid fa-users"></i>
                <i class="fa-solid fa-clock"></i>
            </div>
            -->
            <div class="page-content content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="dark-overlay" onclick="closePreview()"></div>

    <div class="object-preview">
        <img class="object-banner">

        <div class="preview-content">
            <div class="object-content"></div>
            <div class="object-actions"></div>
        </div>
    </div>

    <footer>
        © No name yet 2023
    </footer>
</body>
</html>