<!DOCTYPE html>
<html>
<head>
    <!-- Icon -->
    <link rel="icon" href="/static/images/mediapack/icon.png"> 

    <!-- Meta rules -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Ttile</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">

    <!-- Custom JS -->
    <script src="/static/js/pages.js" defer></script>
    <script src="/static/js/utils.js" defer></script>
    <script src="/static/js/objects.js" defer></script>
    <script src="/static/js/reviews.js" defer></script>

    <!-- None custom Scripts -->
    <script src="https://kit.fontawesome.com/6996113341.js" crossorigin="anonymous"></script>
</head>
<body> 
    {% csrf_token %}

    <div class="review-overlay" onclick="closeReviewSection()"></div>
    <div class="review-modal">
        <div class="rating section active" id="review-section-1">
            <h1>Story</h1>

            <i class="fa fa-regular fa-star" onclick="setRating(1, this.parentNode.id)" onmouseover="showRating(1, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(2, this.parentNode.id)" onmouseover="showRating(2, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(3, this.parentNode.id)" onmouseover="showRating(3, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(4, this.parentNode.id)" onmouseover="showRating(4, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(5, this.parentNode.id)" onmouseover="showRating(5, this.parentNode.id)"></i>
        </div>
        <div class="rating section" id="review-section-2">
            <h1>Gameplay</h1>

            <i class="fa fa-regular fa-star" onclick="setRating(1, this.parentNode.id)" onmouseover="showRating(1, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(2, this.parentNode.id)" onmouseover="showRating(2, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(3, this.parentNode.id)" onmouseover="showRating(3, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(4, this.parentNode.id)" onmouseover="showRating(4, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(5, this.parentNode.id)" onmouseover="showRating(5, this.parentNode.id)"></i>
        </div>
        <div class="rating section" id="review-section-3">
            <h1>Diffifculty</h1>

            <i class="fa fa-regular fa-star" onclick="setRating(1, this.parentNode.id)" onmouseover="showRating(1, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(2, this.parentNode.id)" onmouseover="showRating(2, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(3, this.parentNode.id)" onmouseover="showRating(3, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(4, this.parentNode.id)" onmouseover="showRating(4, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(5, this.parentNode.id)" onmouseover="showRating(5, this.parentNode.id)"></i>
        </div>
        <div class="rating section" id="review-section-4">
            <h1>Enjoyment</h1>

            <i class="fa fa-regular fa-star" onclick="setRating(1, this.parentNode.id)" onmouseover="showRating(1, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(2, this.parentNode.id)" onmouseover="showRating(2, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(3, this.parentNode.id)" onmouseover="showRating(3, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(4, this.parentNode.id)" onmouseover="showRating(4, this.parentNode.id)"></i>
            <i class="fa fa-regular fa-star" onclick="setRating(5, this.parentNode.id)" onmouseover="showRating(5, this.parentNode.id)"></i>
        </div>
        <div class="section" id="review-section-5">
            <h1>Extra information</h1>

            <textarea maxlength="1000" placeholder="My review..."></textarea>

            <button class="primary" onclick="submitReview(this)">Submit</button>
        </div>
        <div class="section" id="review-section-6">
            <h1>Submitting review...</h1>

            <p>
                Thanks for your review!
            </p>
        </div>
        <div class="section" id="review-section-7">
            <h1>An error occured.</h1>

            <p>
                We are sorry for the inconvenience. Please try again later.
            </p>
        </div>
    </div>

    <div class="wrapper">
        <nav>
            <div class="left">
                <a onclick="loadObjects('all')">Home</a>
                <a onclick="loadObjects('testing')">Testing</a>
                <a onclick="loadAbout()">About</a>
            </div>

            <div class="right">
                {% if logged_in %}
                    <div class="options-wrapper">
                        <div class="options">
                            
                            <i class="fa-solid fa-list" onclick="loadObjects('collection')"></i>
                            <i class="fa-solid fa-heart" onclick="loadObjects('wishlist')"></i>
                            <i class="fa-solid fa-gear" onclick="loadSettings()"></i>  
                        </div>

                        <i onclick="this.parentNode.querySelector('.options').classList.toggle('active')" class="fa-regular fa-circle-user"></i>
                    </div>
                {% else %}
                    <i onclick="window.location.href=`/login?next=/${new URLSearchParams(window.location.search).get('p')}`" class="fa-regular fa-circle-user"></i>
                {% endif %}

                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </nav>

        <div class="header">
            <div class="content">
                {% block header %}{% endblock %}
            </div>
        </div>
        <div class="page">
            <!--
            <div class="content">
                <i class="fa-solid fa-users"></i>
                <i class="fa-solid fa-clock"></i>
            </div>
            -->
            <div class="page-content content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="dark-overlay" onclick="closePreview()"></div>

    <div class="object-preview">
        <img class="object-banner">

        <div class="preview-content">
            <div class="object-content"></div>
            <div class="object-actions"></div>
            <div class="mobile-action" onclick="toggleActions(this)"><i class="fa-solid fa-cart-shopping" id="mobile-action"></i></div>
        </div>
    </div>

    <footer>
        © No name yet 2023
    </footer>
</body>
</html>